/*

--- 01 Typography ---

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 
Default: 400

- Line heights: 
Default: 1

--- 02 Colors ---

Brand color: #e67e22

- Tints:

- Shades:

- Accents:

- Greys:
#555 

--- 05 Shadows ---

--- 06 Roundness ---

--- 07 Whitespace ---


WHITESPACE SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Root font size */
/* Good trick for easy REM calculations */
/* 1/16 = 0.625 */
/* Do not hardcore font-size values because users will not be able to change it */
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

}
.hero-section {
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-section-txt {
}

.hero-section-img {
  width: 100%;
}
